{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Задачи</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</head>
<body>
{% if user.is_authenticated %}
    <nav class="navbar navbar-fixed-top-top navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <div class="navbar-collapse" id="navbarScroll">
            <a class="btn btn-outline-light" href="{% url 'logout' %}" role="button">Выйти - {{ user.first_name }} {{ user.last_name }} </a>
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">На главную</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link active" href="/work_task/">Перейти к контролю выполнения работ</a>
                </li>
            </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
        <br>
        <div style="text-align: center;"><h1>Постановка задач</h1></div>
        <form class="row g-3" method="POST" action="create/" id="tg">
        {% csrf_token %}
            <div class="col-md-2">
                <label for="inputDate" class="form-label">Дата</label>
                <input type="date" class="form-control" id="inputDate" name="date_task">
            </div>
            <div class="col-md-2">
                <label for="inputTime" class="form-label">Время</label>
                <input type="time" class="form-control" id="inputTime" name="time_task">
            </div>
            <div class="col-md-7">
                <label for="inputText" class="form-label">Задача</label>
                <textarea class="form-control" id="inputText" name="text_task" rows="1" cols="45" placeholder="Укажите что нужно сделать исполнителю"></textarea>
            </div>
            <div class="col-md-4">
                <label for="inputAddress" class="form-label">Адрес</label>
                <textarea class="form-control" id="inputAddress" name="address_task" rows="1" cols="45" placeholder="Укажите место выполнения задачи"></textarea>
                <script src="{% static "js/autho_size_textarea.js" %}"></script>
            </div>
            <div class="col-md-2">
                <label for="inputEmployee" class="form-label">Исполнитель</label>
                <select class="form-select" id="inputEmployee" name="employee_task">
                    {% for user in users %}
                        <option value="{{ user.first_name }} {{ user.last_name }}">{{ user.first_name }} {{ user.last_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2">
                <label for="inputLine" class="form-label">Сроки выполнения</label>
                <input type="date" class="form-control" id="inputLine" name="line_task">
            </div>
            <div class="col-12">
                <input type="submit" name="sun" class="btn btn-outline-primary contact-form__button" value="Сохранить" >
            </div>
        </form>
        <br>
        <hr>
        <div style="text-align: center;"><h1>Фильтр данных</h1></div>
        <form class="row g-3" method="get" action="">
            <div class="col-md-3">
                <label for="{{ form.employee_task.id_for_label }}">Исполнитель</label>
                {{ form.employee_task }}
            </div>
            <div class="col-md-3">
                <label for="{{ form.status_task.id_for_label }}">Статус выполнения</label>
                {{ form.status_task }}
            </div>
            <div class="col-12">
                <input type="submit" name="sun" class="btn btn-outline-primary contact-form__button" value="Поиск" >
            </div>
        </form>
        <hr>
        {% block tasks %}
        {% endblock %}
    {% else %}
            <p>Войдите в систему</p>
            <a class="btn btn-outline-primary" href="{% url 'login' %}" role="button">Войти</a>
    {% endif %}
    {% block content %}
    {% endblock content %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</div>
</body>
</html>