{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Изменить запись</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
{% if user.is_authenticated %}
    <nav class="navbar navbar-fixed-top-top navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <div class="navbar-collapse" id="navbarScroll">
                <a class="btn btn-outline-light" href="{% url 'logout' %}" role="button">Выйти - {{ user.first_name }} {{ user.last_name }} </a>
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">На главную</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link active" href="/work_task/">Перейти к контролю выполнения работ</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <br>
        <div style="text-align: center;"><h1>Изменить задачу №{{ task.id }}</h1></div>
        <form method="POST">
            {% csrf_token %}
            <div class="table-responsive">
                <table class="table table-bordered table-sm align-middle table-hover">
                    <thead class="align-middle table-primary">
                        <tr>
                            <th scope="col"><label class="form-label">Дата</label></th>
                            <th scope="col"><label class="form-label">Время</label></th>
                            <th scope="col"><label class="form-label">Задача</label></th>
                            <th scope="col"><label class="form-label">Адрес</label></th>
                            <th scope="col"><label class="form-label">Кому поставленка задача</label></th>
                            <th scope="col"><label class="form-label">Сроки выполнения</label></th>
                            <th scope="col"><label class="form-label">Cтатус выполнения</label></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">{{ task.date_task }}</th>
                            <th>{{ task.time_task }}</th>
                            <th>{{ task.text_task }}</th>
                            <th>{{ task.address_task }}</th>
                            <th>{{ task.employee_task }}</th>
                            <th>{{ task.line_task }}</th>
                            <th>{{ task.status_task }}</th>
                        </tr>
                        <tr>
                            <th scope="row"><input class="form-control" type="date" name="date_task"/></th>
                            <th><input class="form-control" type="time" name="time_task"/></th>
                            <th><textarea class="form-control" name="text_task" rows="1" cols="45"></textarea></th>
                            <script src="{% static "js/autho_size_textarea.js" %}"></script>
                            <td><input class="form-control" type="text" name="address_task"/></td>
                            <th><select class="form-select" name="employee_task">
                                    {% for user in users %}
                                        <option value="{{ user.first_name }} {{ user.last_name }}">{{ user.first_name }} {{ user.last_name }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                            <th><input class="form-control" type="date" name="line_task"/></th>
                            <th><select class="form-select" name="status_task">
                                    <option value="Отдано в разработку">Отдано в разработку</option>
                                    <option value="Выполнено">Выполнено</option>
                                    <option value="Выполняется">Выполняется</option>
                                    <option value="Не выполнено">Не выполнено</option>
                                </select>
                            </th>
                            <th><input type="submit" class="btn btn-outline-primary" value="Сохранить" ></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    {% else %}
    <p>Войдите в систему</p>
    <a href="{% url 'login' %}">Войти</a>
    {% endif %}
    {% block content %}
    {% endblock content %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </div>
</body>
</html>