{% extends 'task/base.html' %}
{% load static %}
{% block tasks %}
    <div style="text-align: center;"><h1>Список задач</h1></div>
    {% if task.count > 0 %}
        <div class="table-responsive">
            <table id="tag" class="table table-bordered table-sm align-middle table-hover">
                <form method="POST">
                    <a class="btn btn-primary" href="{% url 'export-excel' %}" role="button">Экспортировать в Excel</a> |
                    <input type="submit" name="sun" class="btn btn-primary contact-form__button" value="Отправить в телеграм" >
                    <p></p>
                </form>
                <thead class="align-middle table-primary">
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Дата</th>
                        <th scope="col">Время</th>
                        <th scope="col">Задача</th>
                        <th scope="col">Объект</th>
                        <th scope="col">Автор</th>
                        <th scope="col">Исполнитель</th>
                        <th scope="col">Сроки выполнения</th>
                        <th scope="col">Статус выполнения</th>
                        <th scope="col">Тип задачи</th>
                        <th scope="col">Отношение к командировке</th>
                        <th scope="col">Редактирование</th>
                    </tr>
                    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
                    <script src="{% static "js/telega.js" %}"></script>
                    <script>
                        let message = "<b>Номер задачи:</b> {{ end_task.id }}\n<b>Дата:</b> {{ end_task.date_task }}\n<b>Время:</b> {{ end_task.time_task }}\n<b>Кто поручил:</b> {{ end_task.author_task }}\n<b>Статус задачи:</b> {{ end_task.status_task }}\n<b>Задача:</b> {{ end_task.text_task }}\n<b>Место выполнения:</b> {{ end_task.address_task }}\n<b>Сроки выполнения:</b> {{ end_task.line_task }}";
                        tg_task_push_employee(`{{ tg_chat_id }}`, `{{ token_tg_bot }}`, message)
                    </script>
                </thead>
                    <tbody>
                    {% for tasks in page_m %}
                        <tr class="{% if tasks.status_task == 'Выполнено' %}table-success{% elif tasks.status_task == 'Отдано в разработку'%}table-danger{% else %}table-warning{% endif %}">
                            <td scope="row">{{ tasks.id }}</td>
                            <td>{{ tasks.date_task }}</td>
                            <td>{{ tasks.time_task }}</td>
                            <td>{{ tasks.text_task }}</td>
                            <td>{{ tasks.address_task }}</td>
                            <td>{{ tasks.author_task }}</td>
                            <td>{{ tasks.employee_task }}</td>
                            <td>{{ tasks.line_task }}</td>
                            <td class="{{ tasks.status_task }}">{{ tasks.status_task }}</td>
                            <td>{{ tasks.type_task }}</td>
                            <td>{{ tasks.business_trip }}</td>
                            <td><p><a class="btn btn-outline-primary" href="work_task/{{ tasks.id }}">Контроль</a></p><a class="btn btn-outline-primary" href="edit/{{tasks.id}}">Изменить</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if page_m.has_previous %}
                        <li class="page-item"><a class="page-link" href="?cnhf=1">&laquo; Первая</a></li>
                    {% endif %}

                    {% for pa in page_m.paginator.page_range %}
                        {% if pa == page_m.number %}
                            <li class="page-item"><a class="page-link active" href="?page={{ pa }}">{{ pa }}</a></li>
                        {% elif pa >= page_m.number|add:-2 and pa <= page_m.number|add:2 %}
                            <li class="page-item"><a class="page-link" href="?page={{ pa }}">{{ pa }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if page_m.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_m.paginator.num_pages }}">Последняя &raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% else %}
        <h1>Задач нет</h1>
    {% endif %}
{% endblock %}