{% extends 'task/base.html' %}
{% load static %}
{% block tasks %}
    {% if task.count > 0 %}
        <div style="text-align: center;"><h1>Список задач</h1></div>
        <div class="table-responsive">
            <table id="tag" class="table table-bordered table-sm align-middle table-hover">
                <form method="POST">
                    <a class="btn btn-primary" href="{% url 'export-excel' %}" role="button">Экспортировать в Excel</a> |
                    <input type="submit" name="sun" class="btn btn-primary contact-form__button" value="Отправить в телеграм" >
                    <hr>
                </form>
                <thead class="align-middle table-primary">
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Дата</th>
                        <th scope="col">Время</th>
                        <th scope="col">Задача</th>
                        <th scope="col">Адрес</th>
                        <th scope="col">Автор</th>
                        <th scope="col">Исполнитель</th>
                        <th scope="col">Сроки выполнения</th>
                        <th scope="col">Статус выполнения</th>
                        <th scope="col">Редактирование</th>
                    </tr>
                    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
                    <script src="{% static "js/telega.js" %}"></script>
                    <script>
                        let message = "<b>Номер задачи:</b> {{ end_task.id }}\n<b>Дата:</b> {{ end_task.date_task }}\n<b>Время:</b> {{ end_task.time_task }}\n<b>Кто поручил:</b> {{ end_task.author_task }}\n<b>Статус задачи:</b> {{ end_task.status_task }}\n<b>Задача:</b> {{ end_task.text_task }}\n<b>Место выполнения:</b> {{ end_task.address_task }}\n<b>Сроки выполнения:</b> {{ end_task.line_task }}";
                        tg_task_push_employee(`{{ tg_chat_id }}`, `{{ token_tg_bot }}`, message)
                    </script>
                </thead>    
                {% for tasks in task %}
                <tbody>
                    <tr>
                        <td scope="row">{{ tasks.id }}</td>
                        <td>{{ tasks.date_task }}</td>
                        <td>{{ tasks.time_task }}</td>
                        <td>{{ tasks.text_task }}</td>
                        <td>{{ tasks.address_task }}</td>
                        <td>{{ tasks.author_task }}</td>
                        <td>{{ tasks.employee_task }}</td>
                        <td>{{ tasks.line_task }}</td>
                        <td>{{ tasks.status_task }}</td>
                        <td><a href="/{{ tasks.id }}">Открыть</a>|<a href="work_task/{{ tasks.id }}">Контроль</a>|<a href="edit/{{tasks.id}}">Изменить</a>|<a href="delete/{{tasks.id}}">Удалить</a></td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <h1>Задач нет</h1>
    {% endif %}
{% endblock %}