{% extends 'task/base.html' %}
{% load static %}
{% load spurl %}
{% block tasks %}
    {% if maks_task.count > 0 %}
        <div style="text-align: center;"><h1>Список задач</h1></div>
        <div class="table-responsive">
            <table id="tag" class="table table-bordered table-sm align-middle table-hover">
                <thead class="align-middle table-primary">
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Дата</th>
                        <th scope="col">Время</th>
                        <th scope="col">Задача</th>
                        <th scope="col">Объект</th>
                        <th scope="col">Адрес</th>
                        <th scope="col">Автор</th>
                        <th scope="col">Исполнитель</th>
                        <th scope="col">Приоритет</th>
                        <th scope="col">Сроки выполнения</th>
                        <th scope="col">Статус выполнения</th>
                        <th scope="col">Тип задачи</th>
                        <th scope="col">Отношение к командировке</th>
                        <th scope="col">Примечания</th>
                        <th scope="col">Дата изменения</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                {% for tasks in page_m %}
                <tbody>
                    <tr class="{% if tasks.status_task == 'Выполнено' %}table-success{% elif tasks.status_task == 'Отдано в разработку'%}table-danger{% else %}table-warning{% endif %}">
                        <td scope="row">{{ tasks.id }}</td>
                        <td>{{ tasks.date_task }}</td>
                        <td>{{ tasks.time_task }}</td>
                        <td>{{ tasks.text_task }}</td>
                        <td>{{ tasks.object_task }}</td>
                        <td>{{ tasks.address_obj_task }}</td>
                        <td>{{ tasks.author_task }}</td>
                        <td>{{ tasks.employee_task }}</td>
                        <td>{{ tasks.urgency_task }}</td>
                        <td>{{ tasks.line_task }}</td>
                        <td class="{{ tasks.status_task }}">{{ tasks.status_task }}</td>
                        <td>{{ tasks.type_task }}</td>
                        <td>{{ tasks.business_trip }}</td>
                        <td>{{ tasks.note_task }}</td>
                        {% if tasks.datetime_note_task != None %}
                            <td>{{ tasks.datetime_note_task }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td>
                            <div class="btn-group-vertical btn-group-sm" role="group" aria-label="Basic outlined example">
                                <a class="btn btn-outline-primary" href="history_status_tasks/{{tasks.id}}">История статуса</a>
                                <a class="btn btn-outline-primary" href="history_note_tasks/{{tasks.id}}">История примечания</a>
                                <a class="btn btn-outline-primary" href="work_tasks/{{ tasks.id }}">Контроль</a>
                                <a class="btn btn-outline-primary" href="edit/{{tasks.id}}">Изменить</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if page_m.has_previous %}
                        <li class="page-item"><a class="page-link" href="{% spurl query=request.GET set_query='page=1'%}">&laquo; Первая</a></li>
                    {% endif %}

                    {% for pa in page_m.paginator.page_range %}
                        {% if pa == page_m.number %}
                            <li class="page-item"><a class="page-link active" href="{% spurl query=request.GET set_query='page={{ pa }}'%}">{{ pa }}</a></li>
                        {% elif pa >= page_m.number|add:-2 and pa <= page_m.number|add:2 %}
                            <li class="page-item"><a class="page-link" href="{% spurl query=request.GET set_query='page={{ pa }}'%}">{{ pa }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if page_m.has_next %}
                        <li class="page-item"><a class="page-link" href="{% spurl query=request.GET set_query='page={{ page_m.paginator.num_pages }}'%}">Последняя &raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% else %}
        <h1>Задач нет</h1>
    {% endif %}
{% endblock %}